<h1>All Pictures (<%= @pictures.length %>)</h1>

<p><br></p>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<p><br></p>


<h4><%= link_to("Click to view our Posts", "/posts") %></h4>
<%= link_to("Add new picture", "/pictures/new") %>




<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %>

<h1>Pictures Over a Month Old</h1>
<ul>
  <% @one_month_old_pictures.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>


<h1>Pictures from year 2016 </h1>
<ul>
  <% @pictures_2016.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>


<h1>Pictures from year 2017 </h1>
<ul>
  <% @pictures_2017.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>
